@keyframes flipInX {
    from {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
        -webkit-transform: perspective(400px) rotateY(90deg);
        transform: perspective(400px) rotateY(90deg);
    }

    40% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: perspective(400px) rotateY(-20deg);
        transform: perspective(400px) rotateY(-20deg);
    }

    60% {
        opacity: 1;
        -webkit-transform: perspective(400px) rotateY(10deg);
        transform: perspective(400px) rotateY(10deg);
    }

    80% {
        -webkit-transform: perspective(400px) rotateY(-5deg);
        transform: perspective(400px) rotateY(5deg);
    }

    to {
        opacity: 1;
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes popDown {
    0% {
        transform: translateY(-100px);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes toBottomFromTop {
    49% {
        transform: translateY(100%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    51% {
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        transform: scale(0);
    }

    60% {
        opacity: 1;
        transform: scale(1.05);
    }

    80% {
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes textIn {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes textOut {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);

    }
}

/* wave animation particularly for hand */
@keyframes wave-hand-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(20deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(20deg);
    }

    40% {
        transform: rotate(-8deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-4deg);
    }

    70% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex.row {
    flex-direction: row;
}

.flex.wrap {
    flex-wrap: wrap;
}

.page-link {
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.hex-wrap {
    display: inline-block;
    height: 80px;
    position: relative;
    text-align: center;
    width: 80px;
}

.hexagon {
    background-color: #04c2c9;
    display: inline-block;
    height: 100%;
    width: calc(100% * 0.57735);
}

.hexagon:before {
    background-color: inherit;
    content: "";
    height: inherit;
    position: absolute;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    top: 0;
    transform: rotateZ(60deg);
    width: inherit;
}

.hexagon:after {
    background-color: inherit;
    content: "";
    height: inherit;
    position: absolute;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    top: 0;
    transform: rotateZ(-60deg);
    width: inherit;
}

.highlight {
    color: #e31b6d;
}

.header {
    color: #444649;
    font-family: "raleway-bold";
    font-size: 25pt;
    position: relative;
    position: relative;
}

.header-bar {
    background: #444649;
    height: 4px;
    margin: 25px 0 75px 0;
    width: 70px;
}

.label {
    font-size: 14pt;
    font-weight: 500;
}

section:nth-of-type(1) {
  color: #fff;
  height: calc(100vh + 53px);
  padding: 0 10px;
}

body {
    width: auto;
    height: auto;
    background-color: #000;
    background-image: radial-gradient(circle at top right, #000, transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}

#home {
    align-items: center;
    position: center;
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
}

.wave-hand {
    animation-name: wave-hand-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

.intro-div,
.intro-div-heading,
.intro-div-subheading {
    align-items: center;
    padding-bottom: 8px;
}

.my-text {
    font-family: 'Sen';
}

.intro-text1 {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    word-wrap: normal;
    color: #ffffff;
    padding: 0px;
}

.intro-text2 {
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;
    color: #fff;
    word-wrap: normal;
    /* padding-bottom: 24px; */
}

.intro-text3 {
    text-align: center;
    font-style: bold;
    font-weight: 700;
    font-size: 28px;
    line-height: 80px;
    color: #fff;
    word-wrap: normal;
    padding-bottom: 24px;
}

.intro-text3 p span {
    font-size: 28px;
    color: #61c7a2;
    /* color: #173E6C #176C4D; */
    font-weight: 700;
    display: none;
    line-height: 46px;
}

.intro-text3 p span.text-in {
    display: inline-block;
    animation: textIn .5s ease;
}

.intro-text3 p span.text-out {
    animation: textOut .5s ease;
}

/* .txt-type > .txt {
    border-right: 1px solid #777;
    box-shadow: 0.2rem solid #777;
} */

/* .span-div {
    display: block;
} */

.button-div {
    text-align: center;
}

.cv-btn {
    align-self: center;
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    position: relative;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 0 0 0 0;
    transition: box-shadow 250ms ease;
    /* border-color: #fff;
    border-width: 2px; */
    border: 2px solid #fff;
}

.btn-text {
    align-self: center;
    text-align: center;
    text-decoration-color: #000;
    font-size: 16px bold;
    font-weight: 700;

}

.cv-btn:hover {
    /* background-color: #283655;
    color: #ffffff;
    transition: all ease 0.3s; */
    box-shadow: 0 4px 12px 0 #173E6C, 0 -4px 12px 0 #176C4D, inset 0 1px 0 0 hsl(0deg 0% 100% / 20%);
    border: 0px solid #fff;
}


nav {
    bottom: 0;
    left: 0;
    position: absolute;
    background: #1e1f26;
    /* border-bottom: 3px solid #d0e1f9; */
    height: 50px;
    /* text-align: left; */
    width: 100%;
    z-index: 99;
    color: #9b9b9c;
    font-size: 14px;
    font-weight: 700;
}

nav.fixed {
    bottom: inherit;
    left: 0;
    position: fixed;
    top: 0;
}

nav.fixed.desk {
    animation: popDown 0.5s;
}

nav .link-wrap {
    max-width: 1200px;
    top: 53px;
    transition: height 0.3s ease-out;
    width: 100%;
}

nav .link-wrap.visible {
    height: 220px;
}

nav .link-wrap div {
    cursor: pointer;
    font-size: 12pt;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: color 0.5s;
}

nav .link-wrap div:first-child {
    padding: 25px 20px 12px 20px;
}

nav .link-wrap div:hover {
    color: #fff;
}

nav .mdi-menu {
    font-size: 30pt;
    line-height: 36pt;
    margin: auto 0;
    position: absolute;
    right: 5vw;
    top: 0;
}

nav .active {
    color: #fff;
    /* box-shadow: 0 4px 12px 0 #173E6C, 0 -4px 12px 0 #176C4D, inset 0 1px 0 0 hsl(0deg 0% 100% / 20%); */
}

#about {
    color: #fff;
    background-color: #283655;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
    position: relative;
}

.about-header {
    align-items: center;
    text-align: center;
}

div .about-container {
    width: 50%;
    display: flex;
}


#services {
    color: #fff;
    background-color: #d0e1f9;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
    position: relative;

}

.services-header {
    align-items: center;
    text-align: center;
}

#current-project {
    color: #fff;
    background-color: #283655;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
    position: relative;
}

.current-project-header {
    align-items: center;
    text-align: center;
}

#open-source {
    color: #fff;
    background-color: #d0e1f9;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
    position: relative;
}

.open-source-header {
    align-items: center;
    text-align: center;
}

#contact {
    color: #fff;
    background-color: #283655;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
    position: relative;
}

.contact-header {
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 400px) {
    section:nth-of-type(3) #gallery .mix .card {
        width: 100vw;
    }
}

@media screen and (min-width: 600px) {
    body {
        font-size: 12pt;
    }

    .container {
        padding: 0 20px;
    }

    .header {
        font-size: 30pt;
    }

    .header-bar {
        margin: 25px 0 100px 0;
    }

    .label {
        font-size: 18pt;
    }

    .hex-wrap {
        height: 100px;
        width: 100px;
    }

    .slide,
    .carousel-wrap {
        height: 450px;
    }

    .mdi-chevron-left,
    .mdi-chevron-right {
        font-size: 25pt !important;
    }

    .modal-wrap .modal {
        height: initial;
        top: -6vh;
    }

    .modal-wrap .info-box {
        padding: 35px 60px 90px 25px;
    }

    .modal-wrap .title {
        font-size: 22pt;
        line-height: 30pt;
    }

    .modal-wrap .tag {
        font-size: 11pt;
    }

    .modal-wrap .detail {
        font-size: 11pt;
        line-height: 18pt;
        margin-top: 15px;
    }

    .modal-wrap .close {
        right: 25px;
    }

    .modal-wrap .button {
        left: 25px;
    }

    nav .link-wrap {
        background: none;
        height: initial;
        overflow: visible;
        position: initial;
        text-align: center;
    }

    nav .link-wrap .visible {
        height: initial;
    }

    nav .link-wrap div {
        display: inline;
        font-size: initial;
        margin: 0 20px;
        padding: initial;
    }

    nav .link-wrap div:first-child {
        padding: 0;
    }

    nav .mdi-menu {
        display: none;
    }

    section {
        line-height: 18pt;
        padding: 100px 0 130px 0;
    }

    section .container {
        padding: 0 10px;
    }

    section:nth-of-type(1) .text {
        font-size: 32pt;
        line-height: 36pt;
    }

    section:nth-of-type(1) .button {
        padding: 12px 50px 12px 20px;
    }

    section:nth-of-type(1) .button .mdi {
        top: 16px;
    }

    section:nth-of-type(2) .label-wrap .label {
        margin: 15px 0 5px 0;
    }

    section:nth-of-type(2) .label-wrap>div {
        padding: 0 15px;
    }

    section:nth-of-type(2) .bullet-wrap {
        height: 230px;
    }

    section:nth-of-type(2) .skills-wrapper>.flex:first-child {
        padding: 0 50px 0 50px;
    }

    section:nth-of-type(2) .skills-wrapper .me {
        height: 250px;
    }

    section:nth-of-type(2) .bar {
        font-size: 11pt;
        height: 28px;
        margin: 0 0 15px 0;
    }

    section:nth-of-type(2) .bar span {
        display: initial;
    }

    section:nth-of-type(2) .bar .tag {
        width: 110px;
    }

    section:nth-of-type(2) .hexagon i {
        font-size: 40pt;
    }

    section:nth-of-type(3) .filter {
        font-size: 11pt;
        margin: 0 15px;
        padding: 0 30px;
    }

    section:nth-of-type(3) .float-bar {
        height: 30px;
    }

    section:nth-of-type(3) #gallery .mix .card {
        height: 300px;
    }

    section:nth-of-type(4) {
        padding: 130px 0 180px 0;
    }

    section:nth-of-type(4) .label {
        font-size: 16pt;
        line-height: 22pt;
    }

    section:nth-of-type(4) .date {
        font-size: 8.5pt;
    }

    section:nth-of-type(4) .bar {
        margin: 15px 0px;
    }

    section:nth-of-type(4) .text {
        font-size: 11pt;
        line-height: 15pt;
    }

    section:nth-of-type(4) .blog-wrap {
        width: 400px;
    }

    section:nth-of-type(4) .thumb {
        height: 200px;
    }

    section:nth-of-type(5) form {
        min-width: 500px;
    }
}

@media screen and (min-width: 960px) {
    .waypoint {
        opacity: 0;
    }

    .animated.waypoint#gallery {
        opacity: 1;
    }

    .animated.waypoint#gallery .mix:nth-child(1)>div {
        animation: slideUp 0.75s 0.1s ease both;
        opacity: 0;
    }

    .animated.waypoint#gallery .mix:nth-child(2)>div {
        animation: slideUp 0.75s 0.2s ease both;
        opacity: 0;
    }

    .animated.waypoint#gallery .mix:nth-child(3)>div {
        animation: slideUp 0.75s 0.3s ease both;
        opacity: 0;
    }

    .animated.waypoint#gallery .mix:nth-child(4)>div {
        animation: slideUp 0.75s 0.4s ease both;
        opacity: 0;
    }

    .animated.waypoint#gallery .mix:nth-child(5)>div {
        animation: slideUp 0.75s 0.5s ease both;
        opacity: 0;
    }

    .animated.waypoint#gallery .mix:nth-child(6)>div {
        animation: slideUp 0.75s 0.6s ease both;
        opacity: 0;
    }

    .animated.waypoint#gallery .mix:nth-child(7)>div {
        animation: slideUp 0.75s 0.7s ease both;
        opacity: 0;
    }

    .animated.waypoint#gallery .mix:nth-child(8)>div {
        animation: slideUp 0.75s 0.8s ease both;
        opacity: 0;
    }

    .animated.waypoint#gallery .mix:nth-child(9)>div {
        animation: slideUp 0.75s 0.9s ease both;
        opacity: 0;
    }

    .animated.slide-up {
        animation: slideUp 0.75s ease both;
    }

    .animated.slide-down {
        animation: slideDown 0.75s ease both;
    }

    .animated.slide-in-left {
        animation: slideInLeft 0.75s ease both;
    }

    .animated.slide-in-right {
        animation: slideInRight 0.75s ease both;
    }

    .animated.flip-in-x {
        animation: flipInX 0.75s ease both;
    }

    .animated.fade-in {
        animation: fadeIn 0.75s ease both;
    }

    .animated.pop-in {
        animation: popIn 1s both;
    }

    .canvas {
        background: #252934;
    }

    .button {
        font-size: 16pt;
    }

    .flex.row-gt-sm {
        flex-direction: row;
    }

    .flex-50-gt-sm {
        box-sizing: border-box;
        -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        max-height: 100%;
        max-width: 50%;
    }

    section:nth-of-type(2) .bars-wrap {
        margin: 0 0 0 0;
    }

    section:nth-of-type(2) .skills-wrapper {
        margin: 50px 0 0 0;
    }

    section:nth-of-type(2) .skills-wrapper .me {
        margin: 0;
    }

    section:nth-of-type(2) .bar {
        max-width: 90%;
    }

    section:nth-of-type(2) .bullet-wrap {
        height: intial;
        margin: 0;
        padding: 0 10px;
    }

    section:nth-of-type(3) #gallery .mix .card {
        width: 390px;
    }

    section:nth-of-type(3) .filter {
        font-size: 13pt;
        margin: 0 25px;
        padding: 0 40px;
    }

    section:nth-of-type(4) .blog-wrap {
        margin: 0 0 50px 20px;
        opacity: 0;
        width: 400px;
    }
}

@media screen and (min-width: 1280px) {
    section:nth-of-type(4) .blog-wrap {
        margin: 0 0 50px 20px;
        width: 270px;
    }
}
